<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="priv.ljf.mapper.BrandMapper">
    <!--
        数据库的字段名称  和     实体类的属性名称    不一样，则不能自动封装数据
            *起别名：对不一样的列名起别名，让别名和实体类的属性一样
                *缺点：每次查询都需要起一次别名
                *处理：Sql片段       缺点：不灵活
             *resultMap
    -->


    <!--    <select id="selectAll" resultType="brand">-->
    <!--        select *-->
    <!--        from tb_brand;-->
    <!--    </select>-->

    <!--    <select id="selectAll" resultType="brand">-->
    <!--        select id, brand_name as brandName, company_name as companyName, ordered, description, status-->
    <!--        from tb_brand;-->
    <!--    </select>-->

    <!--    使用sql片段-->
    <!--    <sql id="brand_clomn">-->
    <!--        id, brand_name as brandName, company_name as companyName, ordered, description, status-->
    <!--    </sql>-->
    <!--    <select id="selectAll" resultType="brand">-->
    <!--        select <include refid="brand_clomn"/>-->
    <!--        from tb_brand;-->
    <!--    </select>-->

    <!--
        id:唯一表示
        type:映射的类型，支持别名
-->
    <resultMap id="brandResultMap" type="brand">
        <!--
                id：完成主键字段的映射
                    column：表的列名
                    property：实体类的属性名
                result：完成一般字段的映射
                     column：表的列名
                    property：实体类的属性名
        -->
        <result column="brand_name" property="brandName"/>
        <result column="company_name" property="companyName"/>

    </resultMap>
    <select id="selectAll" resultMap="brandResultMap">
        select *
        from tb_brand;
    </select>
    <!--
        * 参数占位符
            1.#{}:执行sql时，会将#{}占位符替换为？,将来自动设置参数值
            2.${}:执行sql。会存在sql注入的问题，是直接拼接的情况
            3.使用时机：
                *参数传递，都使用#{}
                *如果要对表名，列名进行动态设置，只能使用${}进行sql拼接
    -->
    <!--
           * parameterType:用于设置参数类型，该参数通常可以省略
    -->
    <!--    <select id="selectById" parameterType="int" resultMap="brandResultMap">-->
    <!--        select *-->
    <!--        from tb_brand where id = #{id};-->
    <!--    </select>-->
    <!--
        sql语句中特殊字符处理：
            *转移字符:比如小于号< 在xml文件中的转义字符是：&lt;
            *<!CDATA[内容]>：CD提示
    -->

    <select id="selectById" resultMap="brandResultMap">
        select *
        from tb_brand
        where id
         <![CDATA[
         =
         ]]>
         #{id};
    </select>
</mapper>